{{#each articles}}
    <div class="card w-90">
        <div class="card-header text-white bg-primary"><a href={{link}} target="_blank">{{title}}</a></div>
        <div class="card-body">
            <p class="card-text">
                {{summary}}
            </p>
            <a href="/save/{{id}}" class="btn btn-primary">Save Article</a>
        </div>
    </div>
{{/each}}